<div class="centered-content">
    <div class="task-manager-container">
  
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Menu
      </h1>
    <div class="list-menu">
      <button class="button is-primary has-text-white"routerLink="/">
        Home
      </button>
      <br>
      <button class="button is-primary has-text-white" routerLink="/client-list">
        Client List
      </button>
      <br>
      <button class="button is-primary has-text-white" routerLink ="/sales-report">
        Sales Report
      </button>
      <br>
      <button class="button is-primary has-text-white" routerLink = '/main-ledger'>
        Ledger
      </button>
      <br>
      <button class="button is-primary has-text-white" routerLink = '/entry-main'>
        New Entries
      </button>
  
    </div>
     <button class="button is-primary has-text-white">Exit</button>
    </div>
    <div class="entry-container has-background-light">
      <h1 class="title has-text-primary">
        Entry
      </h1>
    <div class="entry_input_fields">
      <label class="last_name">Last Name</label>
        <input class="last_name_input" type="last_name" size="20">
    </div>
  
    </div>
  
  
  
  
  </div>
  </div>
  
  
  